PORT=8003

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=kos_booking
DB_USER=root
DB_PASSWORD=

# Internal service URLs
PROPERTY_SERVICE_URL=http://localhost:8002
AUTH_SERVICE_URL=http://localhost:8001
